---
http_interactions:
- request:
    method: get
    uri: http://www.recipepuppy.com/api/?i=onions,garlic&key=&p=3&q=omelet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: UTF-8
      string: '{"title":"Recipe Puppy","version":0.1,"href":"http:\/\/www.recipepuppy.com\/","results":[{"title":"Vegetable-Pasta
        Oven Omelet","href":"http:\/\/find.myrecipes.com\/recipes\/recipefinder.dyn?action=displayRecipe&recipe_id=520763","ingredients":"tomato,
        onions, red pepper, garlic, olive oil, zucchini, cream cheese, vermicelli,
        eggs, parmesan cheese, milk, italian seasoning, salt, black pepper","thumbnail":"http:\/\/img.recipepuppy.com\/560556.jpg"},{"title":"Roasted
        Pepper and Bacon Omelet","href":"http:\/\/www.bigoven.com\/43919-Roasted-Pepper-and-Bacon-Omelet-recipe.html","ingredients":"eggs,
        salt, black pepper, butter, black pepper, bacon, onions, garlic, roasted red
        peppers, oregano, black pepper","thumbnail":""},{"title":"\nBroccoli Oven
        Omelet Recipe\n\n","href":"http:\/\/cookeatshare.com\/recipes\/broccoli-oven-omelet-92851","ingredients":"eggs,
        broc[...]
