---
http_interactions:
- request:
    method: get
    uri: http://www.recipepuppy.com/api/?key=&p=5&page=1&q=Test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: UTF-8
      string: '{"title":"Recipe Puppy","version":0.1,"href":"http:\/\/www.recipepuppy.com\/","results":[{"title":"Apple
        Cranberry Cider","href":"http:\/\/allrecipes.com\/Recipe\/Apple-Cranberry-Cider\/Detail.aspx","ingredients":"apple
        cider, brown sugar, cinnamon, cloves, cranberry juice","thumbnail":""},{"title":"Pork
        Hash Brown Bake","href":"http:\/\/allrecipes.com\/Recipe\/Pork-Hash-Brown-Bake\/Detail.aspx","ingredients":"butter,
        chicken bouillon granule, pork, cornflakes, flour, milk, potato, salt, sour
        cream, water","thumbnail":""},{"title":"Light ''n'' Creamy Mashed Potatoes","href":"http:\/\/allrecipes.com\/Recipe\/Light-n-Creamy-Mashed-Potatoes\/Detail.aspx","ingredients":"chives,
        cream cheese, garlic powder, milk, paprika, black pepper, potato, salt, [...]
